@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Zen+Dots&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll-pane {
  height: 300px; /* Ajusta la altura del contenedor según tus necesidades */
  overflow: auto;
}


body {
  font-family: "Montserrat", sans-serif;

  background-color: #e4ecfc;

  display: flex;
  flex-direction: column;
  min-height: 100vh;


}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 20px;
  font-size: 1.3rem;
  color: #000000;
}

/** Cargar Informacion*/

.form {
  background-color: #ffffffd2;
  margin: 6em auto;
  width: 90%;
  max-width: 400px;
  padding: 3.8em 3em 6em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
}


.form_tittle {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.form_container {
  margin-top: 2em;
  display:grid;
  gap: 0.2em;
}


.form_combo {
  width: 100%;
  background: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 0.3em 0.3em;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.form_file {
  background-color: #0CADC3;
  color: #ffffff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  padding: 0.5em 0rem;
  border: none;
  border-radius: 0.5rem;
}

.form_boton {
  background-color: #0CADC3;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  padding: 0.5em 0rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.mostrar_tabla {
  text-align: center;
}
.container {
  margin: auto;
  text-align: center;
}

table {
  border: solid 1px rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
  align-content: center;
  text-align: center;
}

thead {
  background: #e60b3e;
}

th,
td {
  border: solid 1px rgb();
  padding: 20px 15px;
  font-weight: 700;
  width: 10%;
  height: 20px;
  overflow-y: auto;
}

td {
  padding: 15px;
  border-bottom: solid 1px rgb(238, 238, 238);
}

tr {
  padding: 15px;
  border-bottom: solid 1px rgb(238, 238, 238);
}

/** Usuario*/

.form_usu {
  background-color: #ffffff;
  margin: auto;
  width: 70%;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  
}

.form_tittle_usu {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.form_container_usu {
  margin-top: 2em;
  display:grid;
  gap: 0.2em;
}

.form_campos_div {
  background: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 0.3em 0.3em;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  justify-content: left;
  align-items: left;
  gap: 10px;
}

.form_campos{
  width: 25%;
  position:absolute;
  left: 140px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.form_botones_usu{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form_boton_usu_izq{

  flex: 1;
  margin: 0 70px;
  background-color: #0CADC3;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
  padding: 0.5em 0rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form_boton_usu_izq:hover {
  /* Agrega aquí las propiedades para el efecto cuando se coloca el cursor sobre el botón */
  /* Por ejemplo: */
  background-color: #0899ab;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form_boton_usu_der {
  flex: 1;
  margin: 0 70px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
  padding: 0.5em 0rem;
  border: 2px solid #0899ab;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form_boton_usu_der:hover {
  /* Agrega aquí las propiedades para el efecto cuando se coloca el cursor sobre el botón */
  background-color: #ffffff;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/** Menu Inicial */
.form_menu {
  background-color: #ffffff;
  margin: auto;
  width: 80%;
  height: 75%;
  padding: 3em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.form_container_menu {
  display: flex;
  justify-content: center; /* Alinear los botones horizontalmente al centro */
}

.form_campos_div_menu {
  display: flex;
  flex-direction: column;
}

.form_botones_menu {
  background-color: #0CADC3;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 250;
  font-size: 1.3rem; /* Ajusta el tamaño de fuente según tus necesidades */
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5rem;
  width: 90%; /* Utiliza el ancho completo del contenedor */
  margin-bottom: 0.5em; /* Espacio entre los botones */
  cursor: pointer;
}

.form_botones_menu:hover {
  /* Agrega aquí las propiedades para el efecto cuando se coloca el cursor sobre el botón */
  /* Por ejemplo: */
  background-color: #0899ab;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form_container_menu > div {
  flex: 1; /* Ocupar la mitad del contenedor */
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinear los botones verticalmente al centro */
  justify-content: center; /* Alinear los botones horizontalmente al centro */
}

.form_container_menu > div:first-child {
  align-self: flex-start; /* Alinear los elementos de la mitad izquierda arriba */
}

.form_boton_menu_volver {
  background-color: #ffffff;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 250;
  font-size: 1.2rem; 
  padding: 0.5em 0.7em;
  border: 2px solid #0899ab;
  border-radius: 0.5rem;
  width: 10%; 
  position: absolute; /* Establece la posición absoluta */
  top:530px; /* Coordenada vertical desde la parte superior */
  left: 1150px; /* Coordenada horizontal desde la parte izquierda */
  cursor: pointer;
}

.form_boton_menu_volver:hover {
  /* Agrega aquí las propiedades para el efecto cuando se coloca el cursor sobre el botón */
  background-color: #ffffff;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form_boton:hover {

  background-color: #0899ab;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.form_boton_menuUsu_volver {
  background-color: #ffffff;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 250;
  font-size: 1rem; 
  padding: 0.5em 0.7em;
  border: 2px solid #0899ab;
  border-radius: 0.5rem;
  width: 8%; 
  position: absolute; /* Establece la posición absoluta */
  top:620px; /* Coordenada vertical desde la parte superior */
  left: 810px; /* Coordenada horizontal desde la parte izquierda */
  cursor: pointer;
}

.form_boton_menuUsu_volver:hover {
  /* Agrega aquí las propiedades para el efecto cuando se coloca el cursor sobre el botón */
  background-color: #ffffff;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form_todosMenus {
  background-color: #ffffffd2;
  margin: 6em auto;
  width: 80%;
  max-width: 400px;
  padding: 3.8em 3em 4em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
}

.form_boton_menuPro_volver {
  background-color: #ffffff;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 250;
  font-size: 1rem; 
  padding: 0.5em 0.7em;
  border: 2px solid #0899ab;
  border-radius: 0.5rem;
  width: 40%;

  float: right;
  margin-left: 180px;
  cursor: pointer;
}

.form_boton_menuPro_volver:hover {
  /* Agrega aquí las propiedades para el efecto cuando se coloca el cursor sobre el botón */
  background-color: #ffffff;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.btn_reporte {
  flex: 1;
  margin: 0 25px;
  background-color: #f0f3f7;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
  padding: 0.7em 1rem;
  border: 2px solid #e60b3e;
  border-radius: 0.5rem;
  cursor: pointer;
}
  
.btn_reporte:hover {
  /* Agrega aquí las propiedades para el efecto cuando se coloca el cursor sobre el botón */
  background-color: #f0f3f7;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn_volver_reporte {
  flex: 1;
  margin: 0 70px;
  background-color: #f0f3f7;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
  padding: 0.7em 1rem;
  border: 2px solid #e60b3e;
  border-radius: 0.5rem;
  width: 15%; 
  cursor: pointer;
  text-align: center;
}

.btn_volver_reporte:hover {
  /* Agrega aquí las propiedades para el efecto cuando se coloca el cursor sobre el botón */
  background-color: #f0f3f7;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}




